/* 
@author Don (dl90)
*/

body {
  margin: 0;
  background-color: rgba(14, 0, 51, 0.678);
}.content {
  width: 75vw;
  margin: 1.5% auto;
  display: flex;
  justify-content: space-between;
}

.page-header {
  background-color: rgb(255, 255, 255);
  height: auto;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}.site-title {
  margin: 0;
  font-family: monospace;
  font-size: 4em;
}

.post-container {
  width: 100%;
  display: flex;
  /* grid-template-columns: repeat(auto-fill, 500px); */
  flex-wrap: wrap;
  justify-content: space-between;
}.post {
  background-color: white;
  border: 2px solid black;
  height: auto;
  width: 45%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}.post-header {
  width: 100%;
  height: 5%;
  display: flex;
  /* align-self: flex-start; */
  align-items: center;
  justify-content: space-between;
}.username {
  font-size: 20px;
  padding-left: 25px;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: cursive;
}.icon-container {
  height: inherit;
  width: 20%;
  display: flex;
  align-items: center;
  padding-right: 15px;
}.like-icon {
  content: url('./icons/heart.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.like-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}.comment-icon {
  content: url('./icons/message.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.comment-icon:hover {
  cursor: pointer;
  background-color: lightgray
}.share-icon {
  content: url('./icons/share.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.share-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}.image-section {
  background-color: black;
  height: 20%;
  min-height: 10%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}.post-image {
  object-fit: contain;
  max-height: 50%; /*////picture////*/
  /* max-width: auto; */
  height: auto;
  width: auto;
}.image-caption {
  display: flex;
  max-height: auto;
  justify-content: center;
}.caption {
  font-family: fantasy;
  margin: 0;
  font-size: 1.5em;
  color: white;
}

.comment-section {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}.all-comment-posts{ 
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}.comment-post {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black
}.comment-post:last-child {
  border-bottom: none;
}.post-text {
  color: black;
  margin: 2%;
}.user-display-pic{
  content: url('./icons/profile.png');
  height: 5%;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.submit-comment {
  width: auto;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}.comment-form {
  width: 100%;
  border-top: 2px solid black;
}.post-comment {
  width: 88%;
  font-size: 1em;
  padding: 2% 3%;
  margin: 0;
  box-sizing: border-box;
  border: none;
}.comment-button {
  border: none;
  font-size: 1em;
  padding: 0.7%;
}.comment-button:hover {
  cursor: pointer;
  background-color: lightgray;
}.gap-spacing {
  min-height: 30px; /*////footer spacing////*/
  width: auto;
}

@media (min-width: 700px) {
  .footer {
    background-color: white;
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }#post-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }.new-post-field {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1%;
    width: 25%;
  }.new-post-button {
    border: none;
    font-size: 1.3em;
    padding: 10px;
  }.new-post-button:hover {
    background-color: lightgray;
  }
}

@media (max-width: 800px) {
  body {
    background-color: rgb(41, 41, 41);
  }.content {
    margin: 0px;
    width: auto;
  }

  .post-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }.post {
    width: 600px;
  }
}

@media (max-width: 700px) {
  body {
    background-color: black;
  }.content {
    height: auto;
  };

  .post-container {
    z-index: 2;
  }

  .footer {
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 1;
    position: fixed;
    bottom: 0;
  }#post-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }.new-post-field {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1%;
    width: 100%;
  }.new-post-button {
    border: none;
    font-size: 1.3em;
    padding: 10px;
  }.new-post-button:hover {
    background-color: lightgray;
  }

  .gap-spacing {
    min-height: 175px;
    width: auto;
}

@media (max-width: 400px) {
  .comment-section {
    visibility: hidden;
  }

  .icon-container {
    visibility: hidden;
  }

  .post {
    width: 100%;
  }.post-image {
    width: 90vw;
  }

  .gap-spacing {
    min-height: 10vh;
    width: auto;
}