/* 
@author Don (dl90)
*/

.gap-spacing {
  min-height: 5rem; /*////footer spacing////*/
  width: auto;
}.content {
  width: auto;
  margin: 1.5% auto;
}.page-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: flex-start;
}.title-conatiner {
  margin: 2vh 10vw;
}.site-title {
  margin: 0;
  font-family: monospace;
  font-size: 4em;
}

.post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}.post-header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}.username {
  font-size: 20px;
  padding-left: 25px;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: cursive;
}.icon-container {
  height: inherit;
  width: 20%;
  display: flex;
  align-items: center;
  padding-right: 15px;
}.like-icon {
  content: url('./icons/heart.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.like-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}.comment-icon {
  content: url('./icons/message.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.comment-icon:hover {
  cursor: pointer;
  background-color: lightgray
}.share-icon {
  content: url('./icons/share.svg');
  width: 30%;
  height: 60%;
  margin: .5%;
}.share-icon:hover {
  cursor: pointer;
  background-color: lightgray;
}.image-section {
  background-color: black;
  height: 20%;
  min-height: 10%;
  width: 100%;
  overflow: hidden;
}.post-image {
  height: auto;
  width: 100%;
}.image-caption {
  display: flex;
  max-height: auto;
  justify-content: center;
}.caption {
  font-family: fantasy;
  margin: 0;
  font-size: 1.5em;
  color: white;
  overflow: scroll;
}.comment-section {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}.all-comment-posts{ 
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}.comment-post {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black
}.comment-post:last-child {
  border-bottom: none;
}.post-text {
  color: black;
  margin: 2%;
  overflow: auto;
}.user-display-pic{
  content: url('./icons/profile.png');
  height: 5%;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}.submit-comment {
  width: auto;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}.comment-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 2px solid black;
}.post-comment {
  width: 85%;
  font-size: 1em;
  padding: 2% 3%;
  margin: 0;
  box-sizing: border-box;
  border: none;
}.comment-button {
  width: 20%;
  border: none;
  font-size: 1em;
  padding: 0.7%;
}.comment-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

/*--------------------------------------------------content above 950px---*/
@media (min-width: 950px) {

  body {
    margin: 0;
    background-color: rgb(58, 43, 98);
  }

  .post {
    background-color: white;
    border: 2px solid black;
    height: auto;
    width: 550px; /* post size */
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

}

/*--------------------------------------------------footer below 701px---*/
@media (min-width: 701px) {

  .footer {
    background-color: white;
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }#post-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
  }.new-post-field {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1%;
    width: 25%;
  }.new-post-button {
    border: none;
    font-size: 1.3em;
    padding: 10px;
  }.new-post-button:hover {
    background-color: lightgray;
  }
}

/*--------------------------------------------------post below 1180px---*/

@media (max-width: 1180px) {

  body {
    margin: 0;
    background-color: rgb(22, 11, 51);
  }.content {
    width: auto;
    margin: 1.5% auto;
    display: flex;
    justify-content: space-between;
  }
  
  .post {
    background-color: white;
    border: 2px solid black;
    height: auto;
    width: 800px; /* post size */
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .icon-container {
    height: inherit;
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }.like-icon {
    content: url('./icons/heart.svg');
    margin-left: 50px;
    width: 30px;
    margin: 2%;
  }.like-icon:hover {
    cursor: pointer;
    background-color: rgb(190, 112, 253);
  }.comment-icon {
    content: url('./icons/message.svg');
    width: 30px;
    margin: 2%;
  }.comment-icon:hover {
    cursor: pointer;
    background-color: rgb(190, 112, 253)
  }.share-icon {
    content: url('./icons/share.svg');
    width: 30px;
    margin: 2%;
  }.share-icon:hover {
    cursor: pointer;
    background-color: rgb(190, 112, 253);
    
  }

}

/*--------------------------------------------------content below 950px---*/
@media (max-width: 950px) {
  
  body {
    margin: 0;
    background-color: rgb(15, 7, 34);
  }

  .top-gap-spacing {
    height: 4rem;
  }.title-conatiner {
    margin: 0vh 5vw;
  }.page-header {
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 1;
    position: fixed;
    top: 0;
  }

  .post {
    background-color: white;
    border: 2px solid black;
    height: auto;
    width: 700px; /* post size */
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

}

/*--------------------------------------------------content below 800px---*/
@media (max-width: 800px) {
  body {
    background-color: rgb(41, 41, 41);
  }.content {
    margin: 0px;
    width: auto;
  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }.post {
    width: 600px;
    margin: 3vh 0px;
  }
}

/*--------------------------------------------------content below 700px---*/
@media (max-width: 700px) {
  body {
    background-color: black;
  }.content {
    height: auto;
  };

  .post-container {
    z-index: 2;
  }

  .footer {
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 1;
    position: fixed;
    bottom: 0;
  }#post-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }.new-post-field {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1%;
    width: 100%;
  }.new-post-button {
    border: none;
    font-size: 1.3em;
    padding: 10px;
  }.new-post-button:hover {
    background-color: lightgray;
  }

  .gap-spacing {
    min-height: 175px;
    width: auto;
  }
}

/*--------------------------------------------------content below 600px---*/
@media (max-width: 600px) {

  .post-container {
    width: 100%;
  }.post {
    width: 100vw;
  }.caption {
    font-family: fantasy;
    margin: 0;
    font-size: 1em;
    color: white;
    overflow: scroll;
  }
}

/*--------------------------------------------------content below 400px---*/
@media (max-width: 400px) {

  .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }.site-title {
    font-size: 3rem;
  }.burger-menu{
    content: url('./icons/burger.png');
    height: 30px;
    width: 30px;
    margin-right: 3vw;
  }.burger-menu:hover {
    background-color: lightgrey;
    cursor: pointer;
  }

  .footer {
    display: none;
  }

  .post {
    width: 100vh;
    margin: 3vh 0px;
  }.post-image {
    width: 100%;
  }.icon-container {
    visibility: hidden;
  }.comment-section {
    visibility: hidden;
    height: 0px;
  }.comment-post {
    width: 0px;
    height: 0px;
  }.gap-spacing {
    min-height: 10rem;
  }
}

@media (min-width: 401px) {
  .footer {
    display: flex;
  }
}