body {
    margin: 0;
}

header {
    background-color: thistle;
    height: 150px;
}header nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}header h1 {
    color: black;
    margin: 0;
    font-size: 130px;
    font-weight: 100;
    padding-inline-start: 150px;
    font-family: 'Libre Barcode 39 Extended Text';

    display: flex;
    align-self: flex-start;
}header ul {
    list-style: none;
    padding: 40px;
    margin: 0;
    display: flex;
    align-items: center;
}header a {
    font-size: 20px;
    padding: 15px;
    color: black;
    text-decoration: none;
}header a:hover {
    color: white;
}


main figure {
    margin: 0;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;

    display: flex;
    align-content: flex-start;
}main img {
    width: 400px;
    height: 400px;
    margin: 0;
    padding-inline-start: 150px;
}main figcaption {
    color: whitesmoke;
    font-size: 50px;
    font-family: fantasy;
    padding: 30px;
    
    display: flex;
    align-self: center;
}


main ol {
    margin: 0;
    padding: 10px;
    padding-inline-start: 160px;
    padding-inline-end: 100px;
    display: flex;
    flex-direction: column;
}main li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px black solid;
}main li:last-child {
    border-bottom: none;
}li > section {
    display:flex;
    align-items: center;
}main aside {
    display: flex;
}main h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-weight: 600;
}main a {
    /*scope includes aside a*/
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}main a:hover {
    color: thistle;
}


aside > i {
    /*icon*/
}aside > a {
    /*icon*/
}aside time {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}


footer {
    height: 50px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}footer h5 {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
}