* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#businesses {
  max-width: 600px;
  margin: auto;
  margin-bottom: 5rem;
}.business-image-container {
  overflow: hidden;
  max-height: 600px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}.business-image {
  width: 100%;
}.business {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0;
}.business-title {
  text-align: center;
  font-size: 40px;
  margin: 5px;
}.business-image {
  display: block;
}

.rating-container {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}.ratings {
  font-size: 2rem;
  color: crimson;
}

.price-container {
  background-color: gray;
  display: flex;
  justify-content: flex-start;
}.price {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5rem;
  color: crimson;
}

.display-phone-container {
  background-color: black;
  display: flex;
}.display-phone {
  font-size: 1rem;
  margin: 5%;
  color: white;
}

.page-footer {
  width: 100vw;
  background-color: black;
  height: 4rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}.footer-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}#search-field-label {
  color: white;
  font-size: 2rem;
  margin-right: 5%;
}#search-field {
  width: 20%;
  height: 2rem;
  font-size: 1rem;
  padding: 0;
}#search-submit {
  height: 2rem;
  border: none;
  margin-left: 5px;
  background-color: crimson;
  color: white;
}

.page-header {
  width: 100vw;
  background-color: black;
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}#site-heading {
  color: white;
  font-size: 3rem;
}

.content-spacer {
  width: 100%;
  height: 4rem;
}