/*
@author Don (dl90)
December 7, 2019
https://github.com/dl90

Default css styling for header and footer for all pages.
*/

body{
  margin: 0;
}.nav-button, .footer-header-text {
  font-family: Arial, Helvetica, sans-serif;
}

/*  ---header---  */
.nav-button, .header-container {
  background-color: white;
}.header-container, .header-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-container {
  margin-left: 20px;
  width: 400px;
  display: flex;
}.header-nav-container:hover {
  cursor: default;
}.nav-button {
  border: none;
  font-size: 80%;
  color: black;
  padding: 5px 10px;
  margin: 0 10px;
  outline: none;
}.nav-button:hover {
  background-color: #700000;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
}.header-container {
  width: 100%;
  justify-content: space-between;
}.header-logo-container {
  height: 70px;
}.header-logo {
  height: 70px;
  width: auto;
}.header-logo:hover {
  background-color: #E5E5E5;
  border-radius: 50px;
}.header-icon-container {
  height: auto;
  width: 400px;
  margin-right: 20px;
  justify-content: flex-end;
}.icon-container {
  margin-right: 10px;
  padding: 3px;
  height: 20px;
  border-radius: 5px;
}.icon {
  height: 20px;
  width: auto;
}.icon-container:hover {
  background-color: #E5E5E5;
}

/*  ---footer---  */
.dark-light-icon:hover, .footer-icon-container:hover, a:hover {
  background-color: #E5E5E5;
  cursor: default;
}

.page-footer-container{
  background-color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}.footer-left-column {
  margin-right: 110px;
}.dark-light-container {
  margin-left: 30px;
}.dark-light-icon {
  height: 30px;
  width: auto;
  padding: 5px;
}.dark-light-icon:hover {
  border-radius: 50px;
}.footer-header-text {
  margin: 0;
  font-size: 1rem;
}.footer-right-column{
  margin-right: 10px;
  margin-left: 47px;
  display: flex;
  flex-direction: row;
}.footer-icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}.footer-icon-container:hover {
  border-radius: 10px;
}.footer-icon {
  height: 25px;
  width: auto;
  margin: 3px;
}a {
  color: #700000;
  text-decoration: none;
}