/*
@author Don (dl90)
December 7, 2019
https://github.com/dl90

Style for news.html
*/

body{
  margin: 0;
}.sub-title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}.content {
  background:#7EBFFF;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(126,191,255,1) 80%);
  display: flex;
  flex-direction: row;
}

.left-column, .center-column, .right-column {
  margin-top: 3rem;
}.left-column, .right-column {
  width: 20%;
}.center-column {
  width: 60%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-menu-container {
  width: 60%;
  float: right;
  position: sticky;
  top: 10px;
}.week-menu {
  background-color: #EFEFEF;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}.active, .week-menu:hover {
  background-color: #700000;
  color: white;
}.inside {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #EFEFEF;
}.inside-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.secondary-section-container {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}.left-column-container {
  background-color: white;
  width: 37%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}.vote-button {
  background-color: #700000;
  font-size: 80%;
  color: white;
  padding: 5px 10px;
  margin: 15px
}.volt-result-divider {
  width: 80%;
  border-top:2px solid #1F1F1F;
}.vote-result-graph {
  width: 90%;
}.right-column-container {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  height: 500px;
  display: flex;
  justify-content: center;
}.feature-text-container {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow: scroll;
}

.update-contaniner {
  width: 90%;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}.update-image {
  width: 95%;
}.change-log-text-container {
  width: 95%;
  height: 300px;
  margin-bottom: 25px;
  overflow: scroll;
}.change-log-divider {
  width: 90%;
  border: 3px solid white ;
  border-radius: 3px;
  margin-top: 10px;
}.change-log-message {
  color: white;
}

/* https://www.w3schools.com/howto/howto_css_calendar.asp */
.calender-container {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin-right: auto;
  position: sticky;
  top: 10px;
}.calender-month {
  padding: 50px 0;
  width: 100%;
  background: #1F1F1F;
  text-align: center;
}.calender-month-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}.calender-month ul li {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}.calender-month .prev {
  float: left;
  padding-top: 10px;
  padding-left: 5px;
}.calender-month .next {
  float: right;
  padding-top: 10px;
  padding-right: 5px;
}.calender-weekdays {
  margin: 0;
  padding: 8px 0;
  background-color:#E5E5E5;
}.calender-weekdays li {
  display: inline-block;
  width: 12.5%;
  color: black;
  text-align: center;
}.calender-days {
  padding: 10px 0;
  background: #F9F9F9;
  margin: 0;
}.calender-days li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #1F1F1F;
}.calender-days li .active {
  padding: 5px;
  background: #5C0000;
  color: white !important
}