.page-navigation-links {
    padding: 0;
    list-style: none;
    display: flex;
}

.page-navigation-links > * {
    margin: 0 10px;
}
.page-navigation-links > *:last-child{
    margin-right: 0;
}

.header-group {
    display: flex;

}