body{
  margin: 0;
}

.header-nav-container {
  margin-left: 20px;
  width: 400px;
}.header-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}.header-logo {
  height: 70px;
  width: auto;
}.header-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 400px;
  margin-right: 20px;
  justify-content: flex-end;
}.icon-container {
  margin-right: 10px;
  padding: 3px;
  height: auto;
}.icon {
  height: 20px;
  width: auto;
}.icon-container:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}

.content {
  background-color: #92C9FF;
  display: flex;
  flex-direction: row;
  height: auto;
}.content-spacer-top {
  background-color: #92C9FF;
  height: 3rem;
}.left-column {
  width: 20%;
  height: auto;
  display: flex;
  align-items: flex-start;
}.right-column {
  width: 20%;
  height: auto;
}.login-container {
  background-color: black;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.login-form {
  height: 80%;
  width: 80%;
}.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1015px;
  height: auto;
}

.developer-message-container {
  background-color: black;
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}.message-title {
  color: white;
  margin: auto;
}.message {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
}.content-spacer {
  width: 100%;
  height: 3rem;
}.video-title{
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}.video-container {
  background-color: black;
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}.video {
  margin: auto;
  overflow: auto;
}

.sign-up-container {
  background-color: black;
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}.sign-up-title {
  margin: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}.sign-up-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}.create-account-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.create-account-form-textfield {
  width: 90%;
  height: 1.5rem;
  margin-top: 5px;
}.create-account-check-box-container{
  display: block;
}.create-account-check-box-label {
  color: white;
}.terms-and-conditions {
  text-decoration: underline;
}.create-account-button {
  margin-top: 2rem;
}

.page-footer-container{
  background-color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}.footer-left-column {
  margin-right: 75px;
}.dark-mode-icon {
  height: 70px;
  width: auto;
}.footer-header-text {
  margin: 0;
  font-size: 1rem;
}.footer-right-column{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}.footer-icon-container{
  margin-right: 20px;
}.footer-icon {
  height: 25px;
  width: auto;
}