body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.all-locations {
    width: 880px;
}


.location-image-container {
position: relative;
width: 150px;
height: 150px;
overflow: hidden;
float: left;
margin-right: 20px;
margin-bottom: 20px;
}

.locatoin-image {
width: 100%;
}

.location-link {
    clear: left;
}

.location {
    width: 400px;
    border: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.location:nth-child(odd) {
    float: left;
}
.location:nth-child(even) {
    float: right;
}

.location-rating {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    text-align: center;

}

.page-header {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightgray;
}
.page-header h1 {
    margin: 0;
}

.page-footer {
    clear: both;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightgray;
}

.all-locations {
    margin: auto;
    margin-top: 100px;
    /*width: 880px;*/
    /*box-sizing: border-box;*/
}

